html{ height:100%; }
body {background-color: #fff; font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin: 0px; height:100% }
p,div,ul,li,td,input {font-family: Arial, Helvetica, sans-serif; font-size: 14px; }




.blank_container{width:100%; text-align:center; margin:0px; padding:0px}
.navbar {  overflow: visible;  margin-bottom: 0px; }
.logo{display:block;margin:0;float:left;width:180px;height:45px;background-image:url(/web/img/logo.png);background-repeat:no-repeat;text-indent:-9999px;}

.slide-caption {
    width: auto;
    max-width: 80%;
    padding: 10px 20px;
    margin: 0 0 0px 0px;
    display: block;
    background: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-8 */
}

h1 {font-size:170%; color:#324B38; margin : 0px; clear:both }
h2 {font-size:155%; color:#758A48; margin : 0px; clear:both }
h3 {font-size:125%; color:#758A48; margin : 0px; clear:both }
h4 {font-size:115%; color:#37291C; margin : 0px; clear:both }

.fld_name{ font-size:14px; color:#764121; font-weight: bold; margin : 0px; clear:both  }
.fld_name_small{ font-size:12px; color:#764121; font-weight: bold; margin : 0px; clear:both  }
.fld_txt{ font-size:14px; color:#2F241A; margin : 0px; clear:both  }
.fld_txt_small{ font-size:12px; color:#2F241A; margin : 0px; clear:both  }
.fld_link_txt{ font-size:12px; color:#7F7F7F; margin : 0px; clear:both ; text-decoration: underline;cursor: pointer; }

@media (max-width: 849px) {
    .welcome_img{width:100%; height:560px;text-align:center; margin:0px; padding:0px;background-image:url(/web/img/welcome_small.jpg);background-repeat:repeat-x;}
    .welcome_img h1 {font-size:225%; color:#FFFFFF; margin : 0px; clear:both }
    .welcome_img h3 {font-size:140%; color:#FFFFFF; margin : 0px; clear:both }
/*4183C7 h2=6483C4  h1*/
}

@media (max-width: 1698px) {
    .welcome_img{width:100%; height:560px;text-align:center; margin:0px; padding:0px;background-image:url(/web/img/welcome_medium.jpg);background-repeat:repeat-x;}
    .welcome_img h1 {font-size:225%; color:#FFFFFF; margin : 0px; clear:both }
    .welcome_img h3 {font-size:140%; color:#FFFFFF; margin : 0px; clear:both }
    /*4183C7 h2=6483C4  h1*/
}

@media (min-width: 1900px) {
    .welcome_img{width:100%; height:560px;text-align:center; margin:0px; padding:0px;background-image:url(/web/img/welcome_large.jpg );background-repeat:repeat-x;}
    .welcome_img h1 {font-size:225%; color:#FFFFFF; margin : 0px; clear:both }
    .welcome_img h3 {font-size:140%; color:#FFFFFF; margin : 0px; clear:both }
    /*4183C7 h2=6483C4  h1*/
}

input,textarea {  width: 210px;}
textarea {  height: auto;}
select, textarea, input[type="text"], input[type="password"],input[role="textbox"]
{
  display: inline-block;
  height: 20px;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 5px;
  font-size: 15px;
  line-height: 15px;
  color: #555555;
}
textarea:focus, input[type="text"]:focus, input[role="textbox"]:focus, input[type="password"]:focus { 
	border-color: rgba(75, 184, 79, 0.8); 
outline: 0;
  outline: thin dotted \9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(75, 184, 79, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(75, 184, 79, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(75, 184, 79, 0.6);
}
textarea,input[type="text"], input[type="password"], input[role="textbox"]
{
  background-color: #ffffff;
  border: 2px solid #ABB3B6;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
      -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

select.sel-large, textarea.ta-large, input[type="text"].inp-large, input[type="password"].inp-large
{
  display: inline-block;
  height: 26px;
  padding: 4px;
  margin-bottom: 3px;
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 20px;
  color: #555555;
}


.fnbx_scratch_area {width:100%; height:100%; text-align:left; background-color: #FBFDFA; margin-right: auto; margin-left: auto;}

    .blank_scratch_area {min-width:960px; width:960px; text-align:left; margin-right: auto; margin-left: auto;}
    .scratch_area {min-width:960px; width:960px; text-align:left; background-color: #FBFDFA; margin-right: auto; margin-left: auto;}
    .row { margin-left: -20px;*zoom: 1;}
    .row:before,
    .row:after {display: table;content: "";}
    .row:after { clear: both;}
    [class*="span"] { float: left; margin-left: 20px; }
    .span12 { width: 957px;}
    .span11 { width: 877px;}
    .span10 { width: 797px;}
    .span9 { width: 717px;}
    .span8 { width: 637px;}
    .span7 { width: 557px;}
    .span6 { width: 477px;}
    .span5 { width: 397px;}
    .span4 { width: 317px;}
    .span3 { width: 237px;}
    .span2 { width: 157px;}
    .span1 { width: 77px;}
    .offset12 { margin-left: 987px;}
    .offset11 { margin-left: 907px;}
    .offset10 { margin-left: 827px;}
    .offset9 { margin-left: 747px;}
    .offset8 { margin-left: 667px;}
    .offset7 { margin-left: 587px;}
    .offset6 { margin-left: 507px;}
    .offset5 { margin-left: 427px;}
    .offset4 { margin-left: 347px;}
    .offset3 { margin-left: 267px;}
    .offset2 { margin-left: 187px;}
    .offset1 { margin-left: 107px;}
    .offset_0_5 { margin-left: 54px;}
    input,textarea,.uneditable-input { margin-left: 0;}
    input.ispn12, textarea.ispn12,.uneditable-input.ispn12 { width: 927px; }
    input.ispn11, textarea.ispn11, .uneditable-input.ispn11 { width: 847px;}
    input.ispn10, textarea.ispn10, .uneditable-input.ispn10 { width: 767px;}
    input.ispn9, textarea.ispn9, .uneditable-input.ispn9 { width: 687px;}
    input.ispn8, textarea.ispn8, .uneditable-input.ispn8 { width: 607px;}
    input.ispn7, textarea.ispn7, .uneditable-input.ispn7 { width: 527px;}
    input.ispn6, textarea.ispn6, .uneditable-input.ispn6 { width: 447px;}
    input.ispn5, textarea.ispn5, .uneditable-input.ispn5 { width: 367px;}
    input.ispn4, textarea.ispn4, .uneditable-input.ispn4 { width: 282px;}
    input.ispn3, textarea.ispn3, .uneditable-input.ispn3 { width: 207px;}
    input.ispn2, textarea.ispn2, .uneditable-input.ispn2 { width: 127px;}
    input.ispn1, textarea.ispn1, .uneditable-input.ispn1 { width: 47px;}
    .tab_view_span12 { width: 1142px;}
    .tab_view_span11 { width: 1042px;}
    .tab_view_span10 { width: 942px;}
    .tab_view_span9 { width: 842px;}
    .tab_view_span8 { width: 742px;}
    .tab_view_span7 { width: 642px;}
    .tab_view_span6 { width: 542px;}
    .tab_view_span5 { width: 442px;}
    .tab_view_span4 { width: 342px;}
    .tab_view_span3 { width: 242px;}
    .tab_view_span2 { width: 142px;}
    .tab_view_span1 { width: 42px;}



.dark_border{border : 1px solid #3A2F8B;} 
.medium_border{border : 1px solid #9B9BC6;}
.light_border{border : 1px solid #DBE8D7;}  

.light_green_bkg{background-color: #EDF8E7;}
.light_blue_bkg{background-color: #FBFAFE;}
.gray_bkg{background-color: #E4E7E4;}
.white_bkg{background-color: #FFFFFF;}


table.span1 { float: none; width: 44px; margin-left: 0;}
table.span2 { float: none; width: 124px; margin-left: 0;}
table.span3 { float: none; width: 204px; margin-left: 0;}
table.span4 { float: none; width: 284px; margin-left: 0;}
table.span5 { float: none; width: 364px;  margin-left: 0;}
table.span6 { float: none; width: 444px; margin-left: 0;}
table.span7 { float: none;  width: 524px; margin-left: 0;}
table.span8 { float: none; width: 604px; margin-left: 0;}
table.span9 { float: none; width: 684px; margin-left: 0;}
table.span10 { float: none; width: 764px; margin-left: 0;}
table.span11 {  float: none; width: 844px; margin-left: 0;}
table.span12 { float: none; width: 924px; margin-left: 0;}
table.span13 { float: none; width: 1004px; margin-left: 0;}
table.span14 { float: none; width: 1084px; margin-left: 0;}

table { max-width: 100%; background-color: transparent; border-collapse: collapse; border-spacing: 0;}
.table { width: 100%; margin-bottom: 18px;}
.table th,.table td { padding: 8px; line-height: 18px; text-align: left; vertical-align: top; border-top: 1px solid #dddddd;}
.table th { font-weight: bold; background-color: #98A994; color: #000000;}
.table thead th { vertical-align: bottom;}
.table tbody + tbody { border-top: 2px solid #dddddd;}
.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th { background-color: #E2E7E1;}
.table tbody tr:hover td,.table tbody tr:hover th { background-color: #f5f5f5;}


.table a:active, .table a:link, .table a:visited { color: #4183C7; text-decoration: underline; font-weight:normal;outline:none!important;  }
.table a:hover {color: #758A48}
a:active, a:link, a:visited {font-weight:bold; text-decoration: underline; color: #4183C7; outline:none!important;  }
a:hover {color: #758A48}

#nav_bar a:active:not(.btn),#nav_bar a:link:not(.btn),#nav_bar a:visited:not(.btn){font-weight:bold; text-decoration: none; color: #155521; outline:none!important;}
#nav_bar a:hover:not(.btn) {color: #155521; text-decoration: underline;}
#footer_nav a:active:not(.btn),#footer_nav a:link:not(.btn),#footer_nav a:visited:not(.btn){font-weight:normal; text-decoration: none; color: #155521; outline:none!important;}
#footer_nav a:hover:not(.btn) {color: #155521; text-decoration: underline;}
.nav_link{margin-top:13px;}
.nav_button{margin-top:6px;}

#mini_nav_bar .tran_btn {
  display: inline-block;
  *display: inline;
  padding: 6px 10px 4px;
  margin-bottom: 0;
  font-weight:bold;
  *margin-left: .3em;
  font-size: 20px;
  line-height: 18px;
  *line-height: 20px;
  color: #FAE87C;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #273D0A;
  border: 0;
}
#mini_nav_bar .tran_btn:hover,
#mini_nav_bar .tran_btn:active,
#mini_nav_bar .tran_btn.active {
 text-decoration: underline;
}

select, input[type="file"] {height: 26px;line-height: 15px;}

/*8DA198*/
a.btn,.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-weight:bold;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #525451;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #8DA198;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #8DA198 #8DA198 #8DA198;
  border-bottom-color: #8DA198;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

a.btn:hover,
a.btn:active,
a.btn.active,
a.btn.disabled,
a.btn[disabled],
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}
a.btn
{
	text-decoration: none;
} 
a.btn:hover,.btn:hover {
  color: #525451;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

a.btn.disabled,
a.btn[disabled],
.btn.disabled,
.btn[disabled] {
  color:#8DA198; 
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.btn-large [class^="icon-"] {
  margin-top: 1px;
}

.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}

.btn-small [class^="icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}

button.btn.btn-large,
a.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}

button.btn.btn-small,
a.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn.btn-mini,
a.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

a.btn-blue,
a.btn-blue:hover,
.btn-blue,
.btn-blue:hover
{
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

a.btn-blue,
.btn-blue {
    background-color: #006DCC;
    *background-color: #0044cc;
    background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
    background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
    background-image: -o-linear-gradient(top, #0088cc, #0044cc);
    background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
    background-image: linear-gradient(top, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: #0044cc #0044cc #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

a.btn-blue:hover,
a.btn-blue:active,
a.btn-blue.active,
a.btn-blue.disabled,
a.btn-blue[disabled],
.btn-blue:hover,
.btn-blue:active,
.btn-blue.active,
.btn-blue.disabled,
.btn-blue[disabled] {
    color: #ffffff;
    background-color: #0044cc;
    *background-color: #003bb3;
}

a.btn-green,
a.btn-green:hover,
.btn-green,
.btn-green:hover
{
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

a.btn-green, 
.btn-green {
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

a.btn-green:hover,
a.btn-green:active,
a.btn-green.active,
a.btn-green.disabled,
a.btn-green[disabled],
.btn-green:hover,
.btn-green:active,
.btn-green.active,
.btn-green.disabled,
.btn-green[disabled] {
  background-color: #51a351;
  *background-color: #499249;
}

.success_mssg{color:blue;}
.error_mssg{color:red;}
.warn_mssg{color:orange;}
.info_mssg{color:blue;}

.success_mssg.small,.error_mssg.small,.warn_mssg.small,.info_mssg.small{ font-size:11px;}

#loading_wheel
{
    position: fixed;
    left: 50%;
    top: 35%;
    display: none;
    z-index: 1000;
    height: 31px;
    width: 31px;
}

    #boxtab-blue {
        clear:left;
        float:left;
        padding:0;
        width:100%;
        overflow:hidden;
        font-family:Verdana, Geneva, sans-serif;
    }
    #boxtab-blue ul {
        margin:0;
        padding:0;
        list-style:none;
        left:50%;
        text-align:center;
    }
    #boxtab-blue ul li {
        display:block;
        float:left;
        list-style:none;
        margin:20px 0 0 0;
        padding:0;
        right:50%;
    }
    #boxtab-blue ul li a {
        display:block;
        float:left;
        margin:0 1px;
        padding:5px 10px;
        background:#fff;
        text-decoration:none;
        color:#000;
        border-top:1px solid #51a351;
        border-left:1px solid #51a351;
        border-right:1px solid #51a351;
        position:relative;
        bottom:1px;
    }
    #boxtab-blue ul li a:hover {
        background:#AFC9B1;
        color:#000000;
        cursor:pointer;
        font-weight:bold;
    }
    #boxtab-blue ul li.active {
        margin-top:10px;
    }
    #boxtab-blue ul li.active a,
    #boxtab-blue ul li.active a:hover {
        position:relative;
        bottom:0;
        padding:10px;
        background:#fff;
        color:#000;
        font-weight:bold;
    }

#shopping_cart_breadcrumbs ul, li { list-style-type:none; padding:0; margin:0; }
#shopping_cart_breadcrumbs {
    border-bottom:1px solid #ccc;
    background-color: #FBFDFA;
    line-height: 20px;
    overflow:auto;
    font-size:11px;
    font-weight:bold;
}
#shopping_cart_breadcrumbs li {
    float:left;
    padding-left:8px;
}

#shopping_cart_breadcrumbs li a { }
#shopping_cart_breadcrumbs li a:link, #shopping_cart_breadcrumbs li a:visited { text-decoration:none; color:#7F7F7F; }
#shopping_cart_breadcrumbs li a:hover, #shopping_cart_breadcrumbs li a:focus { text-decoration:underline; color:#0099CC; }
#shopping_cart_breadcrumbs li { color:#003366;  padding:0 24px 2px 0; }

.step_instructions
{
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0 1px 4px rgba(0,0,0,0.25) !important;
    -webkit-box-shadow: inset 0 1px 4px rgba(0,0,0,0.25) !important;
    box-shadow: inset 0 1px 4px rgba(0,0,0,0.25) !important;
    -ms-box-shadow: inset 0 1px 4px rgba(0,0,0,0.215) !important;
    -o-box-shadow: inset 0 1px 4px rgba(0,0,0,0.25) !important;
    -khtml-box-shadow: inset 0 1px 4px rgba(0,0,0,0.25) !important;
}

.step_box
{
    border: 1px solid rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.25) !important;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.25) !important;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.25) !important;
    -ms-box-shadow: 1px 1px 1px rgba(0,0,0,0.25) !important;
    -o-box-shadow: 1px 1px 1px rgba(0,0,0,0.25) !important;
    -khtml-box-shadow: 1px 1px 1px rgba(0,0,0,0.25) !important;
}

